/* = reset ================================================================= */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* apply a natural box layout model to all elements, but allowing views to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

button:focus {
	outline:0;
}

/**
 *
 * APP
**/

body {
  font-family: "DejaVu Serif", Georgia, "Times New Roman", Times, serif, "Abril Fatface", Roboto;
  margin:0 auto;
}

header,
footer {
  font-family: "Abril Fatface";
}

h1 {
  font-weight: bolder;
  font-size: 300%;
}

h2 {
  font-weight: bolder;
  font-size: 200%;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#app {
  max-width: 900px;
  margin: 50px auto;
  /*width: 100%;*/
  border-style: solid;
  border-color: #8e8a98;
  border-width: 3px;
  padding: 20px;
}

a {
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  color: #000000;
}

header {
  background-color: transparent;
}

footer {
  grid-column: span 2;
  padding: 20px 0px;
  text-align: center;
  font-size: 1.0em;
  vertical-align: middle;
  margin-top: 20px;
  border-style: groove;
  border-top-width: 2px;
}

span.footer__text {
  color: #585858;
}

.app__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: .4rem;
  padding-right: .4rem;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}


/**
 * NAVIGATION
 */

.nav_desktop {
  flex-direction: row;
  margin-top: 30px;
  font-family: "Abril Fatface";
}

.logo {
  text-align: center;
  font-size: 55px;
  text-transform: none;
  font-style: normal;
  margin-bottom: 10px;
}

.logo a {
  color: #8371b1;
}

.nav__links_container {
  font-size: 1.2em;
  padding: 5px 0px;
  line-height: 2;
}

.nav__ul--link {
  display: block;
  margin-block-start: 1em;
}

.nav__ul--link li {
  display: inline;
  padding-right: 10px;
}

a.nav__a--link {
  text-decoration: none;
  color: #8e8a98;
}

a.nav__a--link:hover {
  color: #8371b1;
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}

a.nav__a--link.active {
  color: #8371b1;
  text-decoration-line: underline;
}


/* MOBILE MENU WIP */
.mobile-menu__link {
  overflow: hidden;
  visibility: hidden;
  max-height: 0;
}

ul.mobile-nav__ul--links {
  overflow: hidden;
  visibility: hidden;
  max-height: 0;
}

/**
 * HOME
 */

.main {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  font-family: Roboto;
}

.main__text {
  align-self: center;
}

/* IMAGE RENDERER */

.image_renderer {
  position: relative;
  text-align: center;
}

.image_renderer__img {
  width: 100%;
  height: auto;
  text-align: center;
}

.text__block {
  /*font-family: ;*/
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,.5)
}

.text-align-center {
  text-align: center;
}

h2.text-align-center {
  margin: 10px 0 10px 0;
}

/**
 * Ceremony info
 */

.ceremony_details__text {
  width: 70%;
  margin: auto;
}

.info__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info__block .text__block {
  color: black;
}

.map__button {
  margin: 10px;
}

.map__button a {
  color: grey;
  border: 1px solid grey;
}

.map__button a:hover {
  color: white;
  background: #474c82;
  border: 1px solid black;
}


/**
 * OUR STORY
 */

.my-slides.fade img {
  max-height: 600px;
  width: auto;
  border-radius: 5px;
  box-shadow: inset 0 0 20px 10px rgba(0,0,0,0.6);
}

.our_story__text {
  width: 70%;
  margin: auto;
}

.mui_icon {
  color: #8371b1;
}

.dot_icon {
  color: #8e8a98;
}

/**
 * RSVP
 */

.rsvp {
  margin: auto;
  /*height: auto;*/
}

/* MOBILE MENU */
@media only screen and (max-width: 640px) {

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  #app {
    margin: 0 auto;
    padding: 10px;
    border-style: none;
  }

  .nav_desktop {
    margin: 0 auto;
  }

  .logo {
    margin: 10px auto;
    font-size: inherit;
  }

  .logo a{
    font-size: 30px;
  }

  .nav__links_container {
    overflow: hidden;
    visibility: hidden;
    max-height: 0;
  }

  .mobile-nav__links_container {
    font-family: Roboto;
  }

  .mobile-menu__link {
    display: block;
    margin: 0;
    /*line-height: 1.6em;*/
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 0 0 15px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: black;
    visibility: visible;
  }

  /* MENU LIST */
  .mobile-menu__link a {
    font-weight: bolder;
    cursor: pointer;
    display: block;
    margin: 0;
    font-size: 16px !important;
    color: rgba(28,28,28,.7);
  }

  ul.mobile-nav__ul--links {
    overflow: hidden;
    visibility: hidden;
    text-align: center;
    margin: 0 0 10px;
    border-bottom-style: solid;
    border-bottom-color: #717171;
    letter-spacing: 2px;
    text-transform: uppercase;
    max-height: 0px;
  }

  ul.mobile-nav__ul--links.menu-open {
    overflow: visible;
    visibility: visible;
    max-height: 999px;
  }

  .mobile-nav__ul--links.menu-open li {
    padding-bottom: 3px;
  }

  a.mobile-nav__a--link {
    color: #717171;
  }

  a.mobile-nav__a--link.active {
    color: #8371b1;
    text-decoration-line: underline;
  }

  .footer__text {
    font-size: 12px;
  }


  .main {
    margin: 10px;
    font-family: Roboto;
  }

  iframe.rsvp__form {
    top: 0;
    left:0;
    width: 100%;
  }
}
